<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AutoTrack</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <nav>
    <a href="index.html">Home</a>
    <a href="https://eu-north-18cfqqehkz.auth.eu-north-1.amazoncognito.com/login?client_id=3rjl3gh2urarm3hqrlfi9vthmq&response_type=code&scope=email+openid+phone&redirect_uri=https%3A%2F%2Fstaging.d37tilv61lh248.amplifyapp.com%2Fcallback.html">Login / Signup</a>
    <a href="dashboard.html">Dashboard</a>
  </nav>
  <hr>
</body>
</html>
