<!DOCTYPE html>
<html>
<head>
    <title>AutoTrack</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <a href="index.html">Home</a>
        <a href="https://eu-north-18cfqqehkz.auth.eu-north-1.amazoncognito.com/login?client_id=3rjl3gh2urarm3hqrlfi9vthmq&response_type=code&scope=email+openid+phone&redirect_uri=https%3A%2F%2Fstaging.d37tilv61lh248.amplifyapp.com%2Fcallback.html">Login</a>
    </nav>
    <hr>
    <h2>Welcome to AutoTrack</h2>
    <p>Track your job applications and upload resumes with ease.</p>
    <a href="https://eu-north-18cfqqehkz.auth.eu-north-1.amazoncognito.com/login?client_id=3rjl3gh2urarm3hqrlfi9vthmq&response_type=code&scope=email+openid+phone&redirect_uri=https%3A%2F%2Fstaging.d37tilv61lh248.amplifyapp.com%2Fcallback.html">
        <button>Get Started</button>
    </a>
</body>
</html>
